# Outputs
src/**/*/*.js
src/**/*/*.js.map
src/**/*/*.d.ts
!src/**/files/**/*.js
!src/**/files/**/*.js.map
!src/**/files/**/*.d.ts

core/**/*/*.js
core/**/*/*.js.map
core/**/*/*.d.ts
core/**/*.js
core/**/*.js.map
core/**/*.d.ts

# IDEs
.idea/
jsconfig.json

# Misc
node_modules/
npm-debug.log*
yarn-error.log*

# Mac OSX Finder files.
**/.DS_Store
.DS_Store

/sandbox
